.mobile-wrapper {
  max-width: 750px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;

  /* 建立 BFC，防止第一个子元素的 margin-top collapsing */
  overflow: hidden;

  /* 使 absolute 子元素基于此容器定位 */
  position: relative;
}
